mat-grid-list{
    margin: 10px 0px;
  }

  mat-grid-tile{
    padding: 2px;
    border-radius: 30px;
}

mar-card-header{
   display: flex;
    align-items: center;
    justify-content: center;
    
}

mat-card-actions{
    display: flex;
    justify-content: space-around;
  }  

  mat-card-actions p{
    color: red;
    font-size: 30px;
  }

  mat-card img{
    height: 300px;
    width: 300px;
  }





